parameters:
  AzureSubscription:
  AksResourceGroup:
  Command:
  ContainerName:
  IncrementingCounter:
  KubernetesCluster:
  PodLabel:
  PodNamespace:
  ContinueOnError: false
  ExecuteTasks: true
  ErrorMessage: 'none'
  OutputVariable: 'none'

steps:
- task: Kubernetes@1
  displayName: kubectl get pod name for ${{ parameters.PodLabel }}
  condition: and(${{ parameters.ExecuteTasks }}, succeeded())
  name: GetPodName${{ parameters.IncrementingCounter }}
  inputs:
    connectionType: Azure Resource Manager
    azureSubscriptionEndpoint: ${{ parameters.AzureSubscription }}
    azureResourceGroup: ${{ parameters.AksResourceGroup }}
    kubernetesCluster: ${{ parameters.KubernetesCluster }}
    useClusterAdmin: true
    command: 'get'
    arguments: 'pod -l ${{ parameters.PodLabel }} --namespace ${{ parameters.PodNamespace }}'
    outputFormat: name
- pwsh: |
    $FullName = "$(GetPodName${{ parameters.IncrementingCounter }}.KubectlOutput)"
    $Name = ($FullName -split "/")[-1]
    Write-Output "Setting PodName variable to $Name"
    Write-Output "##vso[task.setvariable variable=PodName]$Name"
  displayName: 'PowerShell: Output PodName'
  condition: and(${{ parameters.ExecuteTasks }}, succeeded())
- task: Kubernetes@1
  displayName: kubectl exec "${{ parameters.Command }}" on "${{ parameters.ContainerName }}"
  condition: and(${{ parameters.ExecuteTasks }}, succeeded())
  name: ExecuteCommand${{ parameters.IncrementingCounter }}
  inputs:
    connectionType: Azure Resource Manager
    azureSubscriptionEndpoint: ${{ parameters.AzureSubscription }}
    azureResourceGroup: ${{ parameters.AksResourceGroup }}
    kubernetesCluster: ${{ parameters.KubernetesCluster }}
    useClusterAdmin: true
    command: 'exec'
    arguments: '--namespace ${{ parameters.PodNamespace }} $(PodName) -c ${{ parameters.ContainerName }} -- ${{ parameters.Command }}'
  continueOnError: ${{ parameters.ContinueOnError }}
- pwsh: |
    $Result = '$(ExecuteCommand${{ parameters.IncrementingCounter }}.KubectlOutput)'
    Write-Output "ExecuteCommand returned:`n $Result"
    if ($Result -match '${{ parameters.ErrorMessage }}') { throw "Result matches {0}" -f '${{ parameters.ErrorMessage }}' }
  displayName: 'PowerShell: Check for Error'
  condition: and(ne('${{ parameters.ErrorMessage }}', 'none'), ${{ parameters.ExecuteTasks }}, succeeded())
- pwsh: |
    $Result = '$(ExecuteCommand${{ parameters.IncrementingCounter }}.KubectlOutput)'
    Write-Output "ExecuteCommand returned:`n $Result"
    Write-Output "##vso[task.setvariable variable=${{ parameters.OutputVariable }}]$Result"
  displayName: 'PowerShell: Output Variable'
  condition: and(ne('${{ parameters.OutputVariable }}', 'none'), ${{ parameters.ExecuteTasks }}, succeeded())
